* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-size: 14px;
}
:root {
  --color1: #ff0000;
  --color2: #000;
  --color3: #fff;
}
#wrapper {
  width: 1200px;
  margin: auto;
}
a {
  text-decoration: none;
  display: block;
  color: #000;
}
ul,
li {
  list-style: none;
}
.nav_ul {
  display: flex;
  justify-content: flex-end;
}
.nav_li {
  margin: 8px;
  font-size: 10px;
}
.nav_line {
  border-right: 1px solid black;
  padding-right: 15px;
}
.nav_li a:hover {
  color: var(--color1);
}
.search {
  display: flex;
  height: 40px;
  margin: 5px 0px;
}
.logo {
  flex: 2;
}
.logo img {
  width: 100%;
  height: 100%;
}
.txt_search {
  flex: 3;
  border: 1px solid var(--color1);
  border-radius: 10px;
}
.btn_search {
  width: 40px;
  border: 1px solid var(--color1);
  border-radius: 50%;
  background-color: white;
  margin: 0px 10px;
}
.btn_buy {
  border: 1px solid var(--color1);
  border-radius: 10px;
  background-color: var(--color3);
  margin: 0px 10px;
  padding: 5px 40px;
}
.btn_buy:hover {
  background-color: var(--color1);
  color: var(--color3);
}
.menu {
  height: 50px;
  font-weight: bold;
  text-align: center;
}
.menu_ul {
  display: flex;
  justify-content: space-around;
}
.menu_li {
  flex: 1;
}
.menu_li a {
  line-height: 40px;
}
.menu_li a:hover {
  opacity: 50%;
}
/* Slidebar and Banner */
.slidebar_banner {
  display: flex;
}
.slidebar {
  flex: 1;
  margin-top: 0px;
  margin-right: 10px;
}
.category,
.title {
  width: 300px;
  text-transform: uppercase;
  color: var(--color3);
  background-color: var(--color1);
  padding: 8px 15px;
}
._slide_li {
  background-color: var(--color3);
  border-bottom: 1px solid gray;
}
._slide_li a {
  padding-left: 15px;
  line-height: 2.5;
  font-size: 20px;
}
.banner {
  flex: 3;
}
.banner img {
  width: 100%;
  height: 100%;
}
.title {
  margin: 10px 0px;
}
.product {
  display: flex;
}
.productlisist {
  flex: 1;
  text-align: center;
}
.name {
  margin: 10px;
}
.price {
  margin: 10px;
  color: green;
}
.buy {
  border: 1px solid var(--color1);
  background-color: var(--color3);
  margin: 5px;
  padding: 5px 40px;
}
.buy:hover {
  background-color: var(--color1);
  color: var(--color3);
}
.content2,
.content3 {
  margin-top: 20px;
}
.new {
  display: flex;
  margin: 20px 0px;
}
.new .new_item {
  flex: 1;
}
.new .new_item img {
  width: 100%;
  height: 250px;
}
.new_img {
  overflow: hidden;
}
.new_img img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.new_img:hover img {
  transform: scale(1.1);
}
.new_item h5 {
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 10px 0px;
  padding-right: 5px;
}
.date {
  font-style: italic;
}
hr {
  border-color: gray;
}
#footer {
  display: flex;
  padding: 10px;
}
.footer1 {
  flex: 1;
  line-height: 1.7;
  padding-right: 15px;
}
